fastapi==0.115.12
uvicorn[standard]==0.34.0
ddgs==9.5.5
requests==2.32.3
beautifulsoup4==4.12.3
curl-cffi==0.14.0
langchain-core==0.3.55
langchain-groq==0.3.2
langchain-chroma==0.2.2
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
sentence-transformers==3.4.1
